body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}
img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box; /* overrides browser's normal way of calculating width */
}

a {
    color: $mainOrange;
}

