@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1010px) {
        @mixin-content;
    }
}

@define-mixin clearFix {
     /* This first block will create a tiny bit of cleared space RIGHT after the parent div */
     &::after {
        content: "";
        clear: both;
        display: table; /* Add this for extra cross-browser support */
    }
}
